body {
    display: flex;
    justify-content: center; 
    height: 100vh;
    font-family: monospace;      
}
.DropDownBtn {
    border: 1px solid #00bae9;
    border-radius: 20px;
    width: 250px;
    height: 60px;
    margin-top: 10vh;
}

.DropDownBtn p{
    text-align: center;
    font-size: large;
}

.DropDownList {
    display: none;
    width: 250px;
    border: 1px solid #00728f;
    border-radius: 15px;
    overflow: hidden;
}

nav a{
    display: block;
    border: 1px solid #00728f;
    text-align: center;
    padding: 12px;
}

nav a:hover{
    background: #00bae9;
    cursor: pointer;
}

nav:focus-within .DropDownList {
    display: block;
}
