body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: monospace;
    background-color: #f4f4f4;
    margin: 0;
    text-align: center;
}